<!DOCTYPE html>
<html>
  <head>

    <title>Nebulon - {% block title %}{% endblock %}</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    
  </head>
  <body>

    <!-- Navigation bar -->
    <nav>

      <h1>Nebulon</h1>
      <ul>
	<li><a href="{{ url_for('management.index') }}">Index</a>
      </ul>
      
    </nav>

    <section class="container">
      <header>
	{% block header %}{% endblock %}
      </header>

      {% block content %}{% endblock %}
      
    </section>
  </body>
</html>
