<html>
<head>

    <!-- Needed to load the css and js  files -->
    {% load static %}

    <title>Login</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <a href="#" class="navbar-brand ">Nebulon!!!</a> 
            <ul class="nav navbar-nav">
                <li class="nav-item active"><a href="#" class="nav-link">Inventario</a></li>
                <li class="nav-item active"><a href="#" class="nav-link">Agregar</a></li>
                <li class="nav-item active"><a href="#" class="nav-link">Arrendar</a></li>
                <li class="nav-item active"><a href="#" class="nav-link">Salir</a></li>
            </ul>
            <form method="POST" action="" class="form-inline float-xl-right">

                <input type="text" class="form-control" placeholder="Buscar">
                <button class="btn btn-outline-primary" type="submit">Buscar</button>
        
            </form>
                
        </nav>
    </div>

    <div class="container">
        <div class="table-responsive">
        <table class="table  table-bordered table-hover ">
            <tr class="table-success">
                <th>ID</th>
                <th>Arrendador</th>
                <th>Fragancia1</th>
                <th>Fragancia2</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Estado</th>
                <th>Contrato</th>
            </tr>
            <tr>
                    <td>15420</td>
                    <td>Exito</td>
                    <td>Canela 20%</td>
                    <td>Menta 37%</td>
                    <td>01/01/1997</td>
                    <td>01/05/2005</td>
                    <td>Activo</td>
                    <td>645454545</td>
            </tr>
            <tr>
                    <td>15420</td>
                    <td>Carulla</td>
                    <td>Hamburguesa 32%</td>
                    <td>Menta 50%</td>
                    <td>01/11/1987</td>
                    <td>01/10/2005</td>
                    <td>Activo</td>
                    <td>64522545</td>
            </tr>

        </table>
    </div>
    </div>
    <script src="{% static 'nebsadmin/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'nebsadmin/js/popper.min.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>