<html>
<head>
    <title>Add to Inventory</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <link rel="stylesheet" type="text/css" href="styleFormLease.css">
</head>
<body>

        <div class="container">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
           <a href="#" class="navbar-brand ">Nebulon!!!</a> 
                <ul class="nav navbar-nav">
                    <li class="nav-item active"><a href="#" class="nav-link">Inventario</a></li>
                    <li class="nav-item active"><a href="#" class="nav-link">Agregar</a></li>
                    <li class="nav-item active"><a href="#" class="nav-link">Arrendar</a></li>
                    <li class="nav-item active"><a href="#" class="nav-link">Salir</a></li>
                    

                </ul>
                <form action="" class="form-inline float-xl-right">
                    <input type="text" class="form-control" placeholder="Buscar">
                    <button class="btn btn-outline-primary" type="submit">Buscar</button>

                </form>
        
            </nav>
    </div>


    <div class="modal-dialog text-center">
        <div class="col-sm-9 main-section">
            <div class="modal-content">

                <div class="col-12 user-img">
                    <img src="img/form.png">
                </div>

                <div class="col-12 form-input">
                    <form>
                        <div class="form-group">
                            <input type="text" id="ii" class="form-control" placeholder="ID Nebulizador">
                        </div>
                        <div class="form-group">
                                <input type="text" class="form-control" placeholder="Nombre Arrendatario">
                        </div>
                        <div class="form-group">
                                <input type="email" class="form-control" placeholder="Dirección Arrendatario">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Telefono Arrendatario">
                        </div>
                        <div class="form-group">
                                <input type="text" class="form-control" placeholder="Dirección Ubicación">
                        </div>
                        <div class="form-group">
                                <input type="text" class="form-control" placeholder="Fecha Inicio">
                        </div>
                        <div class="form-group">
                                <input type="text" class="form-control" placeholder="Fecha Fin">
                        </div>
                        <button type="submit" class="btn btn-succes">Registrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>