<html>
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
</head>
<body>
    <div class="container">
        <div class="table-responsive">
        <table class="table  table-bordered table-hover ">
            <tr class="table-success">
                <th>ID</th>
                <th>Arrendador</th>
                <th>Fragancia1</th>
                <th>Fragancia2</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Estado</th>
                <th>Contrato</th>
            </tr>
            <tr>
                    <td>15420</td>
                    <td>Exito</td>
                    <td>Canela</td>
                    <td>Menta</td>
                    <td>01/01/1997</td>
                    <td>01/05/2005</td>
                    <td>Activo</td>
                    <td>645454545</td>
            </tr>
            <tr>
                    <td>15420</td>
                    <td>Carulla</td>
                    <td>Hamburguesa</td>
                    <td>Menta</td>
                    <td>01/11/1987</td>
                    <td>01/10/2005</td>
                    <td>Activo</td>
                    <td>64522545</td>
            </tr>

        </table>
    </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>