{% extends 'base.html' %}

{% block header %}
<h1 class="text-center">{% block title %}Monitoring{% endblock %}</h1>
{% endblock %}

{% block content %}

<div class="table-responsive">
  <table class="table table-striped">

    <thead class="thead-dark">
      <tr>
	<th class="text-center">Company</th>
	<th class="text-center">Fragrance 1</th>
	<th class="text-center">Fragrance 2</th>
	<th colspan="2" class="text-center">Contract</th>
	<th>&nbsp;</th>
      </tr>

      <tr>
	<th>&nbsp;</th>
	<th>&nbsp;</th>
	<th>&nbsp;</th>
	<th class="text-center">Starting date</th>
	<th class="text-center">Ending date</th>
	<th>&nbsp;</th>
      </tr>
    </thead class="thead-light">  

    {% for nebulizer in nebulizers %}

    row = 1
    
    <tr>
      <td class="text-center">{{ nebulizer['company_name'] }}</td>
      <td id="{{ 'lvl' + str(row) }}" class="text-center">{{ nebulizer['nebulon_fg1name'] }}: {{ nebulizer['nebulon_fg1level'] }}%</td>
      <td id="{{ 'lvl2' + str(row) }}" class="text-center">{{ nebulizer['nebulon_fg2name'] }}: {{ nebulizer['nebulon_fg2level'] }}%</td>
      <td class="text-center">{{ nebulizer['loan_starting_date'] }}</td>
      <td class="text-center">{{ nebulizer['loan_ending_date'] }}</td>
      <td class="text-center"><button type="button" formaction="{{ url_for('management.index') }}"class="btn btn-primary">Update</button></td>
    </tr>

    {% endfor %}
    
  </table>
</div>

<script src=""></script>

{% endblock %}
